<div class="row">
  <div class="col-md-5">
    <!--<rb-recipe-list (recipeSelected)="selectedRecipe = $event"></rb-recipe-list>-->
    <rb-recipe-list></rb-recipe-list>
  </div>
  <div class="col-md-7">
   <router-outlet></router-outlet>
  </div>
</div>